/* standard declrations */
h1,h2,h3,h4,h5,h6 {
    font-family: '';
}

body {
    font-family: '';
}

/* font faces */


/* for example:

    @font-face {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('~assets/fonts/DM-Sans/DMSans-Regular.ttf') format('truetype');
    }

*/